@charset "utf-8";
body {
	color: #000000;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	background-image: url(../../images/tileback.jpg);
	background-repeat: repeat;
}

#main {
	margin-top: 64px;
	padding-top: 4px;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 32px;
	margin-bottom: 64px;
	background-color: rgba(255,255,255,1.00);
	border-color: rgba(0,0,0,1.00);
	position: relative;
}
#aside {
	position: absolute;
	left: 520px;
	padding-left: 0px;
	padding-right: 24px;
	width:468px;
} 

li {
	list-style-type: none;
}

#main li {
	list-style-type: circle;
}

#Callingnav a:hover ,a:active,a:focus{
	color: #F8FCBA;
	background-color: #8FC1E9;
	background-repeat: repeat;
}
#Callingnav a{
	color: #8FC1E9;
	background-color: #F8FCBA;
	display: block;
	float: none;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 24px;
	margin-left: -40px;
}

#main h2 {
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	background-color: rgba(143,193,225,1.00);
	width: 450px;
}
#main h1 {
	font-size: xx-large;
	color: rgba(143,193,225,1.00);
	background-color: rgba(248,252,186,1.00);
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	border-radius: 16px;
	border: thick solid rgba(143,193,225,1.00);
}
#main table {
	background-color: #E8E8E8;
	text-align: left;
	text-indent: 10px;
}
#bannerlink a:hover,a:active,a:focus{
	color: #F8FCBA;
	background-color: rgba(143,193,233,0.00);
}
q {
	font-style: italic;
	font-size: large;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
#main h3{
	border-bottom: thin solid #8FC1E1;
}

#currentpg a {
	background-color: rgba(143,193,233,1.00);
	color: rgba(248,252,186,1.00);
}
#main a{
	text-decoration: none;
	font-weight: none;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;	
}
